@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "CrimsonPro";
  src: url(./CrimsonPro-Regular.ttf);
}
@font-face {
  font-family: "LaBelleAurore";
  src: url(./LaBelleAurore-Regular.ttf);
}
.handlee-regular {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}
.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

:root {
  --azul-pizzara: #3A5A6D; /* Main titles(h1, h2), call-to-action buttons; nav-bars */
  --ocre-quemado: #B87333; /* Links, icons, hovers */
  --papel-antiguo: #F2E8D5; /* Main background */
  --papel-antiguo-transparente: #f2e8d5c1; /* Main background */
  --crema-oscuro: #DBC8AC; /* Secondary sections background, cards, footer */
  --negro-carbon: #2B2B2B; /* Text */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.journal-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--papel-antiguo);
}

.logo {
  width: 100%;
  max-width: 100px; /* Ajusta según tu logo */
  height: auto;
  border-radius: 50%;
  margin-bottom: 30px;
  align-self: center;
}
.navbar {
  border-bottom: 1px solid var(--ocre-quemado);
  font-family: "Montserrat";
}
.dropdown-menu {
  background: linear-gradient(var(--crema-oscuro), var(--papel-antiguo));
}
.dropdown-item:hover {
  background-color: var(--papel-antiguo-transparente);
}

.hero-section {
  position: relative;
  height: 100vh;
  background-color: var(--papel-antiguo);
  background-image: url(./images/landscape.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 232, 213, 0.7);
  z-index: 1;
}
.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  font-family: "CrimsonPro";
}
.hero-content h1 {
  font-size: 4rem;
  color: var(--negro-carbon);
  display: flex;
  justify-content: center;
  align-items: center;
}
.highlight-headline {
  color: var(--ocre-quemado);
  font-size: 3rem;
  margin-top: 10px;
}
.newsletter-form {
  border: 1px double var(--negro-carbon);
  width: 300px;
}
.block {
  display: block;
  text-align: center;
}
.travel-guide-form {
  border: 2px solid var(--ocre-quemado);
  border-radius: 30px;
  background-color: var(--papel-antiguo-transparente);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50%;
  margin: 10px auto;
}
.travel-guide-form h3 {
  font-size: 2rem;
}
input[type="email"], input[type="text"] {
  width: 80%;
  height: 45px;
  border-radius: 20px;
  font-size: 25px;
  box-shadow: 1px 1px 10px var(--crema-oscuro);
  background-color: var(--papel-antiguo);
}
input[type="email"]:focus, input[type="text"]:focus {
  outline: 2px solid var(--ocre-quemado);
  box-shadow: 0 0 5px var(--ocre-quemado);
}

.compass {
  position: absolute;
  z-index: 1;
  top: 0;
  filter: brightness(0) invert(17%);
}
.call-to-action-btn {
  margin-top: 50px;
  padding: 20px;
  font-family: "CrimsonPro";
  font-size: 2rem;
  background-color: var(--azul-pizzara);
  border-radius: 5px;
  border: 0;
  color: var(--crema-oscuro);
  transition: 0.4s ease;
}
.call-to-action-btn:hover {
  cursor: pointer;
  background-color: var(--ocre-quemado);
  color: var(--negro-carbon);
  box-shadow: 5px 0 15px var(--ocre-quemado);
}

.destination-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 450px));
  gap: 40px 30px;
  margin: 30px 40px;
}

.destination-card {
  background-color: var(--crema-oscuro);
  padding: 15px;
  width: 100%;
  box-shadow: 5px 8px 10px #6a6666;
  transition: 0.3s ease;
}
.destination-card:hover {
  cursor: pointer;
  background-color: #dcd0ca;
  transform: rotate(4deg);
}
.destination-img {
  width: 100%;
}
.right {
  transform: rotate(3deg);
}
.left {
  transform: rotate(-6deg);
}
figcaption, .date {
  font-family: "LaBelleAurore";
  font-size: 1.5rem;
  color: var(--negro-carbon);
}
.destination-headline {
  text-align: center;
  font-family: "CrimsonPro";
  font-size: 5.2rem;
  margin-top: 15px;
  color: var(--negro-carbon);
}
.headline-note {
  text-align: center;
  font-family: "LaBelleAurore";
  color: var(--negro-carbon);
  font-size: 2.2rem;
}
.content section h1, .content section p {
  text-align: center;
}
.story-section {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  font-size: 1.6rem;
  font-family: "CrimsonPro";
  color: var(--negro-carbon);
  border-top: 10px double var(--crema-oscuro);
  padding: 15px 0;
  text-align: center;
  line-height: 45px;
}
.nomad-profile {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  color: var(--negro-carbon);
  max-width: 500px;
}
.nomad-picture {
  border-radius: 50%;
  box-shadow: 2px 0 10px var(--ocre-quemado);
  width: 100%;
  margin-top: 20px;
}
.author-name {
  font-family: "LaBelleAurore"; 
  font-size: 2.2rem;
}
/* Arreglar esta parte, de la grid */
.travel-stats {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  margin: 60px auto;
  max-width: 850px;
}
.stat-box {
  background-color: var(--crema-oscuro);
  border: 1px solid #d4c9b8;
  padding: 25px 15px;
  text-align: center;
  position: relative;
  transition: transform 0.3s;
  max-width: 100%;
}
.stat-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px var(--crema-oscuro);
}
.stat-number {
  font-family: cursive;
  font-size: 2.5rem;
  color: var(--negro-carbon);
  margin-bottom: 5px;
}
.stat-label {
  color: var(--negro-carbon);
  font-size: 1.5rem;
  font-family: cursive;
}

@media screen and (max-width: 1117px) {
  .sidebar {
    height: 90px;
    width: 100%;
    padding: 0;
  }
  .content {
    width: 100%;
    margin-left: 0;
    margin-top: 90px;
  }
  .hero-content h1 {
    font-size: 3rem;
  }
  .logo {
    width: 100%;
    max-width: 80px;
    height: auto;
    aspect-ratio: 1/1;
  }
  .sidebar-footer p {
    display: none;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .nav-menu a {
    font-size: 1rem;
  }
  .sidebar-content {
    display: flex;
    gap: 50px;

  }
  .call-to-action-btn {
    width: 50%;
    font-size: 1.1rem;
  } 
  .destination-headline {
    font-size: 4rem;
  }
  .headline-note {
    font-size: 1.9rem;
  }
}
@media screen and (max-width: 768px) {
  .nav-menu.collapse:not(.show) {
    display: none;
  }
  .nav-menu.collapse.show {
    display: block;
    position: absolute;
    top: 90px; /* altura del sidebar en móvil */
    left: 0;
    width: 100%;
    background-color: var(--crema-oscuro);
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 1050; /* por encima de otros elementos */
  }

  .nav-menu ul {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .nav-menu a {
    display: block;
    padding: 10px;
    text-align: center;
  }

  /* Ocultamos el botón de Bootstrap en escritorio, pero en móvil sí se ve
  .navbar-toggler {
    display: block; /* o inline-block según tu diseño */
    /* position: absolute;
    top: 20px;
    right: 20px;
  } */ 
}
@media screen and (max-width: 1117px) {
  .sidebar {
    height: 90px;
    /* ... resto de estilos ... */
  }

  .sidebar-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* para separar logo y botón */
    width: 100%;
    padding: 0 20px;
  }

.navbar-toggler {
  order: 3; /* para que quede a la derecha */
  }
}




