@font-face {
  font-family: "Montserrat";
  src: url(./Montserrat-Regular.ttf);
}
@font-face {
  font-family: "CrimsonPro";
  src: url(./CrimsonPro-Regular.ttf);
}
@font-face {
  font-family: "LaBelleAurore";
  src: url(./LaBelleAurore-Regular.ttf);
}

:root {
  --azul-pizzara: #3A5A6D; /* Main titles(h1, h2), call-to-action buttons; nav-bars */
  --ocre-quemado: #B87333; /* Links, icons, hovers */
  --papel-antiguo: #F2E8D5; /* Main background */
  --crema-oscuro: #DBC8AC; /* Secondary sections background, cards, footer */
  --negro-carbon: #2B2B2B; /* Text */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.journal-container {
  display: flex;
  min-height: 100vh;
  background-color: var(--papel-antiguo);
}
.sidebar {
  width: 300px;
  background-color: var(--crema-oscuro);
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  height: 100vh;
  padding: 40px 20px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.05);
  z-index: 10;
}
.content {
  margin-left: 300px;
  flex: 1;
  /* padding: 60px; */
  /* max-width: 1000px; */
}

.logo {
  width: 250px;
  height: 250px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}
.nav-menu a {
  display: block;
  text-decoration: none;
  color: var(--azul-pizzara);
  font-family: "Montserrat", sans-serif ;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0;
  transition: 0.3s;
}
.nav-menu a:hover {
  color: var(--ocre-quemado);
  padding-left: 10px;
}
.sidebar-footer p {
  position: absolute;
  bottom: 0;
  color: var(--negro-carbon);
  font-family: "Montserrat", sans-serif ;
}
.hero-section {
  position: relative;
  height: 100vh;
  background-color: var(--papel-antiguo);
  background-image: url(./landscape.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 232, 213, 0.7);
  z-index: 1;
}
.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  font-family: "CrimsonPro";
}
.hero-content h1 {
  font-size: 4rem;
  color: var(--negro-carbon);
}
/* Ver como cambiar el color de las esquinas */
.corner-top-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  filter: brightness(0) invert(17%);
}
.corner-top-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: rotate(270deg);
  filter: brightness(0) invert(17%);
}
.corner-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  transform: rotate(180deg);
  filter: brightness(0) invert(17%);
}
.corner-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  transform: rotate(90deg);
  filter: brightness(0) invert(17%);
}
.compass {
  position: absolute;
  z-index: 1;
  top: 0;
  filter: brightness(0) invert(17%);
}
.call-to-action-btn {
  margin-top: 50px;
  padding: 20px;
  font-family: "CrimsonPro";
  font-size: 2rem;
  background-color: var(--azul-pizzara);
  border-radius: 5px;
  border: 0;
  color: var(--crema-oscuro);
  transition: 0.4s ease;
}
.call-to-action-btn:hover {
  cursor: pointer;
  background-color: var(--ocre-quemado);
  color: var(--negro-carbon);
  box-shadow: 5px 0 15px var(--ocre-quemado);
}

.destination-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px 30px;
  margin: 30px 40px;
}

.destination-card {
  background-color: var(--crema-oscuro);
  padding: 15px;
  width: 100%;
  box-shadow: 5px 8px 10px #6a6666;
  transition: 0.3s ease;
}
.destination-card:hover {
  cursor: pointer;
  background-color: #dcd0ca;
  transform: rotate(4deg);
}
.destination-img {
  width: 100%;
}
.right {
  transform: rotate(3deg);
}
.left {
  transform: rotate(-6deg);
}
figcaption, .date {
  font-family: "LaBelleAurore";
  font-size: 1.5rem;
  color: var(--negro-carbon);
}
.destination-headline {
  text-align: center;
  font-family: "CrimsonPro";
  font-size: 5.2rem;
  margin-top: 15px;
  color: var(--negro-carbon);
}
.headline-note {
  text-align: center;
  font-family: "LaBelleAurore";
  color: var(--negro-carbon);
  font-size: 2.2rem;
}