@font-face {
  font-family: "Montserrat";
  src: url(./Montserrat-Regular.ttf);
}
@font-face {
  font-family: "CrimsonPro";
  src: url(./CrimsonPro-Regular.ttf);
}
@font-face {
  font-family: "LaBelleAurore";
  src: url(./LaBelleAurore-Regular.ttf);
}

:root {
  --azul-pizzara: #3A5A6D; /* Main titles(h1, h2), call-to-action buttons; nav-bars */
  --ocre-quemado: #B87333; /* Links, icons, hovers */
  --papel-antiguo: #F2E8D5; /* Main background */
  --crema-oscuro: #DBC8AC; /* Secondary sections background, cards, footer */
  --negro-carbon: #2B2B2B; /* Text */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.journal-container {
  display: flex;
  min-height: 100vh;
  background-color: var(--papel-antiguo);
}
.sidebar {
  width: 300px;
  background-color: var(--crema-oscuro);
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  height: 100vh;
  padding: 40px 20px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.05);
  z-index: 10;
  overflow: hidden;
}
.content {
  margin-left: 300px;
  flex: 1;
  /* padding: 60px; */
  /* max-width: 1000px; */
}

.logo {
  width: 250px;
  height: 250px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}
.nav-menu a {
  display: block;
  text-decoration: none;
  color: var(--azul-pizzara);
  font-family: "Montserrat", sans-serif ;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0;
  transition: 0.3s;
}
.nav-menu a:hover {
  color: var(--ocre-quemado);
  padding-left: 10px;
}
.sidebar-footer p {
  position: absolute;
  bottom: 0;
  color: var(--negro-carbon);
  font-family: "Montserrat", sans-serif ;
}
.hero-section {
  position: relative;
  height: 100vh;
  background-color: var(--papel-antiguo);
  background-image: url(./landscape.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 232, 213, 0.7);
  z-index: 1;
}
.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  font-family: "CrimsonPro";
}
.hero-content h1 {
  font-size: 4rem;
  color: var(--negro-carbon);
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter-form {
  border: 1px double var(--negro-carbon);
  width: 300px;
}
.block {
  display: block;
  text-align: center;
}
input[type="email"] {
  width: 80%;
  height: 45px;
  border-radius: 20px;
  font-size: 25px;
  box-shadow: 1px 1px 10px var(--crema-oscuro);
  background-color: var(--papel-antiguo);
}
input[type="email"]:focus {
  outline: 3px double #d56464;
}
/* Ver como cambiar el color de las esquinas */
.corner-top-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  filter: brightness(0) invert(17%);
}
.corner-top-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: rotate(270deg);
  filter: brightness(0) invert(17%);
}
.corner-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  transform: rotate(180deg);
  filter: brightness(0) invert(17%);
}
.corner-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  transform: rotate(90deg);
  filter: brightness(0) invert(17%);
}
.compass {
  position: absolute;
  z-index: 1;
  top: 0;
  filter: brightness(0) invert(17%);
}
.call-to-action-btn {
  margin-top: 50px;
  padding: 20px;
  font-family: "CrimsonPro";
  font-size: 2rem;
  background-color: var(--azul-pizzara);
  border-radius: 5px;
  border: 0;
  color: var(--crema-oscuro);
  transition: 0.4s ease;
}
.call-to-action-btn:hover {
  cursor: pointer;
  background-color: var(--ocre-quemado);
  color: var(--negro-carbon);
  box-shadow: 5px 0 15px var(--ocre-quemado);
}

.destination-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px 30px;
  margin: 30px 40px;
}

.destination-card {
  background-color: var(--crema-oscuro);
  padding: 15px;
  width: 100%;
  box-shadow: 5px 8px 10px #6a6666;
  transition: 0.3s ease;
}
.destination-card:hover {
  cursor: pointer;
  background-color: #dcd0ca;
  transform: rotate(4deg);
}
.destination-img {
  width: 100%;
}
.right {
  transform: rotate(3deg);
}
.left {
  transform: rotate(-6deg);
}
figcaption, .date {
  font-family: "LaBelleAurore";
  font-size: 1.5rem;
  color: var(--negro-carbon);
}
.destination-headline {
  text-align: center;
  font-family: "CrimsonPro";
  font-size: 5.2rem;
  margin-top: 15px;
  color: var(--negro-carbon);
}
.headline-note {
  text-align: center;
  font-family: "LaBelleAurore";
  color: var(--negro-carbon);
  font-size: 2.2rem;
}
.content section h1, .content section p {
  text-align: center;
}
.story-section {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  font-size: 1.6rem;
  font-family: "CrimsonPro";
  color: var(--negro-carbon);
  border-top: 10px double var(--crema-oscuro);
  padding: 15px 0;
  text-align: center;
  line-height: 45px;
}
.nomad-profile {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  color: var(--negro-carbon);
  width: 500px;
}
.nomad-picture {
  border-radius: 50%;
  box-shadow: 2px 0 10px var(--ocre-quemado);
  width: 100%;
  margin-top: 20px;
}
.author-name {
  font-family: "LaBelleAurore"; 
  font-size: 2.2rem;
}
/* Arreglar esta parte, de la grid */
.travel-stats {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  margin: 60px auto;
  max-width: 850px;
}
.stat-box {
  background-color: var(--crema-oscuro);
  border: 1px solid #d4c9b8;
  padding: 25px 15px;
  text-align: center;
  position: relative;
  transition: transform 0.3s;
  width: 400px;
}
.stat-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px var(--crema-oscuro);
}
.stat-number {
  font-family: cursive;
  font-size: 2.5rem;
  color: var(--negro-carbon);
  margin-bottom: 5px;
}
.stat-label {
  color: var(--negro-carbon);
  font-size: 1.5rem;
  font-family: cursive;
}

@media screen and (max-width: 720px) {
  .sidebar {
    height: 10vh;
    width: 100%;
    padding: 0;
  }
  .content {
    width: 100%;
    margin-left: 0;
    margin-top: 10vh;
  }
  .logo {
    width: 80px;
    height: 80px;
  }
  .sidebar-footer p {
    display: none;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .nav-menu a {
    font-size: 1.1rem;
  }
  .sidebar-content {
    display: flex;
    gap: 50px;

  }
  .corner-top-right, .corner-top-left, .corner-bottom-right, .corner-bottom-left {
    width: 140px;
    height: 140px;
    transition: 1s ease;
  }
  .call-to-action-btn {
    width: 50%;
    font-size: 1.1rem;
  } 
}